/* Mobile view */
.App {
  height: 100vh;
  width: 100vw;

  .App-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}

header {
  display: none;
}

/* Desktop view */
@media only screen and (min-width: 701px) {
  .App {
    display: flex;
    justify-content: center;
  
    .App-content {
      max-width: 1000px;
    }
  }

  header {
    display: block;
    height: 36px;
    width: 100%;
    margin: 0;
    text-align: right;

    p {
      margin: 8px 8px 4px 8px;
      font-style: italic;
      font-size: 18px;
    }
  }
}